// Icons
.icon-{
  &c--1{
	width: 48px;
	height: 48px;
	background-position: -432px 0;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png);
	background-repeat: no-repeat;
  }
  &c--2{
	width: 48px;
	height: 48px;
	background-position: -240px 0;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png);
	background-repeat: no-repeat;
  }
  &c--3 {
	width: 48px;
	height: 48px;
	background-position: 0 0;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png);
	background-repeat: no-repeat;
  }
  &c--4 {
	width: 48px;
	height: 48px;
	background-position: -192px 0;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png);
	background-repeat: no-repeat;
  }
  &c--5 {
	width: 48px;
	height: 48px;
	background-position: -528px 0;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png);
	background-repeat: no-repeat;
  }
  &c--6 {
	width: 48px;
	height: 48px;
	background-position: -288px 0;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png);
	background-repeat: no-repeat;
  }
  &c--7 {
	width: 48px;
	height: 48px;
	background-position: -144px 0;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png);
	background-repeat: no-repeat;
  }
  &c--8 {
	width: 48px;
	height: 48px;
	background-position: -96px 0;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png);
	background-repeat: no-repeat;
  }
  &c--9 {
	width: 48px;
	height: 48px;
	background-position: -336px 0;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png);
	background-repeat: no-repeat;
  }
  &c--10 {
	width: 48px;
	height: 48px;
	background-position: -48px 0;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png);
	background-repeat: no-repeat;
  }
  &c--11 {
	width: 48px;
	height: 48px;
	background-position: -384px 0;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png);
	background-repeat: no-repeat;
  }
  &-c--12 {
	width: 48px;
	height: 48px;
	background-position: -384px 0;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png);
	background-repeat: no-repeat;
  }
  &c--13 {
	width: 48px;
	height: 48px;
	background-position: -480px 0;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/034E2eGleewOXxk2ITn2P4LkT4.png);
	background-repeat: no-repeat;
	margin-bottom: 0;
  }
  &c__worldstatus--1 {
	width: 16px;
	height: 16px;
	background-position: -290px 0;
	-moz-background-size: 338px auto;
	-o-background-size: 338px auto;
	-webkit-background-size: 338px auto;
	background-size: 338px auto;
	display: block;
	  background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png);
	background-repeat: no-repeat;
  }
  &c__worldstatus--2 {
	width: 16px;
	height: 16px;
	background-position: -306px 0;
	-moz-background-size: 338px auto;
	-o-background-size: 338px auto;
	-webkit-background-size: 338px auto;
	background-size: 338px auto;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png);
	background-repeat: no-repeat;
  }
  &c__worldstatus--3 {
	width: 16px;
	height: 16px;
	background-position: -322px 0;
	-moz-background-size: 338px auto;
	-o-background-size: 338px auto;
	-webkit-background-size: 338px auto;
	background-size: 338px auto;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png);
	background-repeat: no-repeat;
  }
  &c__skill--deffender {
	width: 32px;
	height: 32px;
	background-position: -153px 0;
	-moz-background-size: 338px auto;
	-o-background-size: 338px auto;
	-webkit-background-size: 338px auto;
	background-size: 338px auto;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png);
	background-repeat: no-repeat;
  }
  &c__skill--healer {
	width: 32px;
	height: 32px;
	background-position: -185px 0;
	-moz-background-size: 338px auto;
	-o-background-size: 338px auto;
	-webkit-background-size: 338px auto;
	background-size: 338px auto;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png);
	background-repeat: no-repeat;
  }
  &c__skill--attacker {
	width: 32px;
	height: 32px;
	background-position: -121px 0;
	-moz-background-size: 338px auto;
	-o-background-size: 338px auto;
	-webkit-background-size: 338px auto;
	background-size: 338px auto;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png);
	background-repeat: no-repeat;
  }
  &c__fire {
	width: 19px;
	height: 16px;
	background-position: -83px 0;
	-moz-background-size: 338px auto;
	-o-background-size: 338px auto;
	-webkit-background-size: 338px auto;
	background-size: 338px auto;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
  }
  &c__ice {
	width: 19px;
	height: 16px;
	background-position: -102px 0;
	-moz-background-size: 338px auto;
	-o-background-size: 338px auto;
	-webkit-background-size: 338px auto;
	background-size: 338px auto;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
  }
  &c__wind {
	width: 19px;
	height: 16px;
	background-position: -271px 0;
	-moz-background-size: 338px auto;
	-o-background-size: 338px auto;
	-webkit-background-size: 338px auto;
	background-size: 338px auto;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
  }
  c__earth {
	width: 19px;
	height: 16px;
	background-position: -64px 0;
	-moz-background-size: 338px auto;
	-o-background-size: 338px auto;
	-webkit-background-size: 338px auto;
	background-size: 338px auto;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
  }
  &c__thunder {
	width: 19px;
	height: 16px;
	background-position: -233px 0;
	-moz-background-size: 338px auto;
	-o-background-size: 338px auto;
	-webkit-background-size: 338px auto;
	background-size: 338px auto;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
  }
  &c__water {
	width: 19px;
	height: 16px;
	background-position: -252px 0;
	-moz-background-size: 338px auto;
	-o-background-size: 338px auto;
	-webkit-background-size: 338px auto;
	background-size: 338px auto;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
  }
  &c__star {
	width: 16px;
	height: 16px;
	background-position: -217px 0;
	-moz-background-size: 338px auto;
	-o-background-size: 338px auto;
	-webkit-background-size: 338px auto;
	background-size: 338px auto;
	display: block;
	background-image: url(https://ffxivita-css.s3.eu-south-1.amazonaws.com/img/UHiaeYaDlz8Orr4-SBlhp8tSvQ.png);
	background-repeat: no-repeat;
  }

}
