.xivita-section {
  background-size: cover;
  background-attachment: fixed;
  font-size: .9rem;
  .section-container {
	flex-wrap: unset;
  }
  .section-column {
	width: 100%;
	padding-top: .5em;
	padding-bottom: .5em;
  }
  h1 {
	font-family: Grover,Iowan Old Style,Apple Garamond,Baskerville,Times New Roman,"Droid Serif",Times,"Source Serif Pro",serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0;
	&:after {
	  content: " ";
	  display: block;
	  margin-top: 1rem;
	  width: 4em;
	  height: .15em;
	  background-color: $xivita__home-red;
	  margin-left: auto;
	  margin-right: auto;
	}
  }
}
